 
 
 * {
    font-family:Helvetica,Arial, sans-serif;
    font-size:normal;
    font-weight:bold;
    text-align: center;
    padding: 5px 5px;                                                       
    margin: 2px 2px 2px 2px;
    border:20px 20px 20px 20px;
    display: center;
      
    
  }
 
  button:hover {
    color: rgb(20, 20, 17);
  }



